.App{
    background-color: black;
    font-family: barlow ;
    font-weight: 400;
}
.App h1{
    color:darkorange;
    font-family: barlow;
    font-size: xx-large;
    font-style: italic;
    align-items: center;
    margin-left: 40%;
    padding: 2%;
}
.container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 20px;
    justify-content: center;
    padding: 1%;
    
}
.container:hover{
    box-shadow: #002c61;

}